name: California Regression CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  train-evaluate:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: pip install -r requirements.txt

    - name: Train Model
      run: python src/train.py

    - name: Evaluate Model
      run: python src/evaluate.py

    - name: Build Docker Image
      run: docker build -t california-ml .

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
         name: mlflow-runs
         path: mlruns

