name: ML Regression CI

on:
  push:
    branches: [ "main" ]

jobs:
  train-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Train model
      run: python src/train.py

    - name: Evaluate model
      run: python src/evaluate.py
